* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common styles */

.hide {
    display: hidden;
}

img {
    width: 100%;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 1100px;
}

.font {
    color: rgba(0, 0, 0, 0.5);
    font-family: inter;
    font-size: 1.25rem;
}

/* navbar styles */
.navbar {
    justify-content: space-between;
    /* background-color: aquamarine; */
    margin-top: 30px;
    align-items: center;
    margin-bottom: 100px;
}

.nav-link {
    display: flex;
}

.navbar .nav-link li {
    list-style: none;
    margin-left: 30px;
}

.nav-link li a {
    text-decoration: none;
}

.nav-link .home {
    color: #252432
}

.nav-link .about-shop {
    color: #8987A1;
}

/* banner section style */

.banner {
    align-items: end;
}

.banner>div {
    flex: 1;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: Noto serif;
}

.banner-title-color {
    color: #E95A08;
}

/* our plant style */
.our-plant {
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
}

.our-plant-content {
    text-align: center;
    justify-content: center;
}

.our-plant-description {
    margin-top: 15px;
    margin-bottom: 40px;
}

.plants-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    text-align: center;
}

.card-info {
    margin: 20px auto;
}

.card-btn {
    display: flex;
    flex-direction: column;
}

.card-btn button {
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
}


.card-name {
    color: #111111;
    font-weight: 500;
}

.card-price {
    color: #111111;
    font-weight: 700;
}

/* plants lover section style */
.plants-lover-section {
    gap: 60px;
    align-items: center;
    position: relative;
    margin-top: 160px;
    margin-bottom: 130px;
}

.badge {
    position: absolute;
    top: -120px;
    left: 370px;
    width: 270px;
    height: 270px;
}

.plants-lover-section>div {
    flex: 1;
}

.plants-lover-title {
    font-size: 3rem;
    font-weight: 700;
    font-family: Noto Serif;
}

.plants-lover-description {
    padding: 15px;
}

.plants-lover-description ul li {
    margin-top: 10px;
}

/* Responsive for small device 576px */
@media screen and (max-width: 576px) {

    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
    }

    .home,
    .about-shop {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
    }

    /* .banner-right-side img {
        width: 100%
    } */

    /* .banner-left-side {
        width: 100%
    } */

    .banner-title {
        font-size: 2rem;
    }
}