* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common styles */

.hide {
    display: none;
}

img {
    width: 100%;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 1100px;
}

.font {
    color: rgba(0, 0, 0, 0.5);
    font-family: inter;
    font-size: 1.25rem;
}

/* animation */

@keyframes badge-animation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    50% {
        opacity: 0.5;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* navbar styles */
.navbar {
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 100px;
}

.nav-link {
    display: flex;
}

.navbar .nav-link li {
    list-style: none;
    margin-left: 30px;
}

.nav-link li a {
    text-decoration: none;
}

.nav-link .home {
    color: #252432
}

.nav-link .about-shop {
    color: #8987A1;
}

/* banner section style */

.banner {
    align-items: end;
}

.banner>div {
    flex: 1;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: Noto serif;
}

.banner-title-color {
    color: #E95A08;
}

/* our plant style */
.our-plant {
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
}

.our-plant-content,
.latest-deal-content {
    text-align: center;
    justify-content: center;
}

.our,
.latest {
    color: #E95A08;
}

.our-plant-description,
.latest-deal-description {
    margin-top: 15px;
    margin-bottom: 40px;
}

.plants-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    text-align: center;
}

.card-info {
    margin: 20px auto;
}

.card-btn {
    display: flex;
    flex-direction: column;
}

.card-btn button {
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
}


.card-name {
    color: #111111;
    font-weight: 500;
}

.card-price {
    color: #111111;
    font-weight: 700;
}

/* plants lover section style */
.plants-lover-section {
    gap: 60px;
    align-items: center;
    position: relative;
    margin-top: 160px;
    margin-bottom: 130px;
}

.badge {
    position: absolute;
    top: -120px;
    left: 370px;
    width: 270px;
    height: 270px;

    animation: badge-animation 1.8s ease-in-out infinite;
}

.plants-lover-section>div {
    flex: 1;
}

.plants-lover-title,
.our-plant-title,
.latest-deal-title {
    font-size: 3rem;
    font-weight: 700;
    font-family: Noto Serif;
}

.plants-lover-description {
    padding: 15px;
}

.plants-lover-description ul li {
    margin-top: 10px;
}

/* challenge part */
/* latest deals styles */

.latest-deal-banner {
    justify-content: space-between;
    gap: 25px;
    margin-top: 100px;
    border: 1px solid tomato;
}

.latest-deal-left {
    width: 25%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.latest-deal-left>div {
    flex: 1;
}

.bloom-plant {
    display: flex;
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.ana-plant {
    display: flex;
    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.latest-deal-right {
    flex: 1;
    display: flex;
    background-image: url(./assets/deal-zabo.png);
    height: 420px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.latest-deal-left .discount {
    font-size: 1.25rem;
    font-weight: 700;
}

.latest-deal-left .shop {
    font-size: 1rem;
    margin-top: 10px;
}

.latest-deal-right .discount {
    font-weight: 700;
    font-size: 2.5rem;
}

.latest-deal-right .shop {
    font-size: 1.75rem;
}

.shop {
    color: white;
    display: flex;
    justify-content: center;
    font-family: Inter;
}

.discount {
    color: white;
    font-family: Noto Serif;
}

/* join section styles */
.join-section {
    background-image: url(./assets/news-letter-bg.png);
    width: 100%;
    height: 530px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 120px;


}

.join-title {
    font-family: Noto Serif;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;

}

.form input {
    padding: 10px 600px 10px 10px;
    position: relative;
}

.form-btn {
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 16px;
}

/* footer section style */

.footer-section {
    justify-content: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 50px;
}

.nav-links li,
.other-links li {
    display: block;
    margin-bottom: 30px;
}

.important-links-1 li,
.important-links-2 li,
.social-links li {
    list-style: none;

}

.twitter {
    margin-top: 10px;
}

.important-links-1 li a,
.important-links-2 li a {
    text-decoration: none;
    color: #6B7280;
}

.social-link {
    display: flex;
    gap: 20px;
}


.company-info {
    width: 350px;
}

.footer-logo {
    width: 130px;
    margin-bottom: 15px;


}

/* Responsive for small device 576px */
@media screen and (max-width: 576px) {

    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        justify-items: center;
    }

    .cart {
        margin-right: 20px;
    }

    .logo {
        margin-left: 20px;
        width: 80px;
        height: 80px;

    }

    .home,
    .about-shop {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        width: 100%;
    }

    .banner-left-side {
        margin: 20px 20px;
    }

    .banner-title {
        font-size: 2.15rem;
    }


    .our-plant {
        width: 100%;
    }

    .our-plant-description {
        margin-left: 20px;
        margin-right: 20px;
    }

    .plants-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        margin: 20px 20px;
    }

    .plants-lover-section {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
    }

    .badge {
        display: none;
    }

    .latest-deal-section {
        flex-direction: column;
    }

    .latest-deal-content {
        margin: 120px 25px 50px;
    }

    .latest-deal-banner {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }

    .latest-deal-banner>div {
        flex: 1;
        width: 100%
    }

    .bloom-plant {
        width: 100vw;
        height: 100vh;
    }

    .ana-plant {
        width: 100vw;
        height: 100vh;
    }

    .latest-deal-left {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }

    .latest-deal-right {
        gap: 25px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;

    }

    .join-section {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 300px;

    }

    .join-info {
        width: 100%;
    }

    .join-title {
        font-size: 1.25rem;
    }

    .join-info .form input {
        padding: 10px 50px 10px 10px;
    }

    .form-btn {
        padding: 10px 20px;
    }


    .footer-section {
        flex-direction: column;
        margin-left: 20px;
        width: fit-content;
    }

    .company-info {
        margin-bottom: 25px;
        width: 100%;
    }

    .social-link {
        width: fit-content;
    }


}